In [ ]:
import pandas as pd

all_courses_df = pd.read_csv("./.localdata/aua__jenza-cleaned-full.csv")
all_courses_df[:2]

,Section,Session,Credits,Campus,Instructor,Times,Subject Code,Course Number,Course Title,Building,Room
0,0,15w,0,AUA Main Campus,Vicky Herkelian,TUE 5:00pm-8:00pm TUE 5:00pm-8:00pm,BSN,020,Bridge Course II - Nursing Skills II,AUA Najarian Center,201N\n205N
1,UNQ,15w,3,AUA Main Campus,Nour Alayan,"MON 3:30pm-4:20pm, WED 3:30pm-5:20pm",BSN,101,Professional Nursing Practice,Paramaz Avedisian Building,Room 407E

In [ ]:
geneds_df = pd.read_csv("./.localdata/aua__geneds-cleaned-full.csv")
geneds_df

    Subject Code Course Number Themes
0            BUS           101    4,5
1            BUS           105      5
2            BUS           109  7,8,9
3            BUS           110  7,8,9
4            BUS           112    3,6
..           ...           ...    ...
240           PH           101      7
241           PH           102    4,6
242           PH           201    4,7
243           PH           202    4,7
244           PH           203    6,7

[245 rows x 3 columns]

In [17]:
all_courses_df['is_gened'] = False # by default

for i in geneds_df.index:
  gened_entry = geneds_df.loc[i]
  corresponding_offered_courses = all_courses_df.loc[all_courses_df['Course Number'] == gened_entry['Course Number']]
  if len(corresponding_offered_courses) > 0:
    for k in corresponding_offered_courses.index:
      all_courses_df.loc[k, 'is_gened'] = True
      all_courses_df.loc[k, 'Themes'] = gened_entry['Themes']

all_courses_df["is_gened"].fillna(False)
all_courses_df[:5]

,Section,Session,Credits,Campus,Instructor,Times,Subject Code,Course Number,Course Title,Building,Room,is_gened,Themes
0,0,15w,0,AUA Main Campus,Vicky Herkelian,TUE 5:00pm-8:00pm TUE 5:00pm-8:00pm,BSN,020,Bridge Course II - Nursing Skills II,AUA Najarian Center,201N\n205N,False,NaN
1,UNQ,15w,3,AUA Main Campus,Nour Alayan,"MON 3:30pm-4:20pm, WED 3:30pm-5:20pm",BSN,101,Professional Nursing Practice,Paramaz Avedisian Building,Room 407E,True,7
2,UNQ,15w,3,AUA Main Campus,Mohamed Shehnaaz,"TUE 5:00pm-6:15pm, THU 5:00pm-6:15pm",BSN,200,Patophysiology,Paramaz Avedisian Building,407E,True,1
3,UNQ,15w,3,AUA Main Campus,Mohamed Shehnaaz,"MON 4:30pm-6:20pm, WED 6:00pm-6:50pm WED 6:00p...",BSN,201,Health Assessment Across Age Groups,AUA Najarian Center,201N\n205N\n407E,True,"4,7"
4,UNQ,15w,3,AUA Main Campus,Adena Alahverdian,"TUE 4:30pm-5:45pm, THU 4:30pm-5:45pm",BSN,205,Research in Nursing,Paramaz Avedisian Building,406E,True,"2,4,6"

In [18]:
all_courses_df

,Section,Session,Credits,Campus,Instructor,Times,Subject Code,Course Number,Course Title,Building,Room,is_gened,Themes
0,0,15w,0,AUA Main Campus,Vicky Herkelian,TUE 5:00pm-8:00pm TUE 5:00pm-8:00pm,BSN,020,Bridge Course II - Nursing Skills II,AUA Najarian Center,201N\n205N,False,NaN
1,UNQ,15w,3,AUA Main Campus,Nour Alayan,"MON 3:30pm-4:20pm, WED 3:30pm-5:20pm",BSN,101,Professional Nursing Practice,Paramaz Avedisian Building,Room 407E,True,7
2,UNQ,15w,3,AUA Main Campus,Mohamed Shehnaaz,"TUE 5:00pm-6:15pm, THU 5:00pm-6:15pm",BSN,200,Patophysiology,Paramaz Avedisian Building,407E,True,1
3,UNQ,15w,3,AUA Main Campus,Mohamed Shehnaaz,"MON 4:30pm-6:20pm, WED 6:00pm-6:50pm WED 6:00p...",BSN,201,Health Assessment Across Age Groups,AUA Najarian Center,201N\n205N\n407E,True,"4,7"
4,UNQ,15w,3,AUA Main Campus,Adena Alahverdian,"TUE 4:30pm-5:45pm, THU 4:30pm-5:45pm",BSN,205,Research in Nursing,Paramaz Avedisian Building,406E,True,"2,4,6"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
530,0,15w,3,AUA Main Campus,Irshat Madyarov,WED 9:30am-12:20pm,TEFL,308,English for Specific Purposes,AUA Najarian Center,202N,False,NaN
531,0,15w,3,AUA Main Campus,Talin Grigorian,TBD,TEFL,310,Teaching Internship,Other,NaN,False,NaN
532,0,15w,2,AUA Main Campus,Irena Galikyan,THU 3:00pm-4:15pm,TEFL,312,Teaching Test Preparation,Main Building,216M,False,NaN
533,0,15w,2,AUA Main Campus,Rubina Gasparyan,WED 12:30pm-2:20pm,TEFL,320,Introduction to Language,AUA Najarian Center,202N,False,NaN
534,0,15w,3,AUA Main Campus,Irshat Madyarov,TBD,TEFL,392,Capstone Project,Other,NaN,False,NaN

In [ ]:
all_courses_df.to_csv("./.localdata/aua__all-courses-merged.csv", index=False)